<div id="some-div">
  <h2 id="title">list</h2>
</div>
<% @dishes.each do |dish| %>
  <%= render partial: 'dish_card', locals: { dish: dish } %>
<% end %>


<script>
  
  var $stars = $('.star');

  $stars.on('click', function(event) {

    var $card = $(event.target).closest('.ui-card');
    var dishId = $card.attr('data-id');

    $.ajax({
      url: '/api/likes',
      method: 'post',
      data: { dish_id: dishId }
    }).done(function(data) {
      // update the like count span relative to where
      // we are
      $card.find('.likes-count').text(data.likes_count) 
    })

    // var $myTarget = $(event.target)
    //   .closest('.ui-card') // up
    //   .find('.likes-count') // down

    // var oldText = $myTarget.text();
    // var oldCount = Number(oldText)
    // var newCount = oldCount + 1;

    // $myTarget.text(newCount);

  });


  // $.getJSON('', function() {

  // })
/*
  $.ajax({
    url: '/api/likes',
    data: { dish_id: 5 },
    method: 'post'
  }).done(function(data) {

    console.log(data);

  });
*/
 


</script>