
<table>
  <tr>
    <th>name</th>
    <th>email</th>
    <th>age</th>
  </tr>

  <% @leads.each do |lead| %>
  <tr>
    <td><%= lead["name"] %></td>
    <td><%= lead['email'] %></td>
    <td><%= lead['age'] %></td>
  </tr>
  <% end %>
  
</table>
