body {
  width: 80%;
  margin: 0 auto;
}

.span-1, 
.span-2,
.span-3 {
  min-height: 100px;
  float: left;
  margin-right: 3.33333%; /* 20 / 600 = 0.033333 */
}

.span-1 {
  background-color: mistyrose;
  width: 30%; /* 180 / 600 = 0.3 */
}

.span-2 {
  background-color: linen;
  width: 63.33333%; /* 380 / 600 = 0.6333333 */
}

.span-3 {
  background-color: plum;
  width: 96.66666%; /* 580 / 600 = 0.96666666 */
}

img {
  max-width: 100%;
}
