<h1>my guest book</h1>

<form action="/comments" method="post">
  <label for="">name</label>
  <input name="name" type="text">

  <label for="">comment</label>
  <textarea name="comment"></textarea>

  <label for="">url</label>
  <input name="url" type="text">

  <button>post</button>
</form>

<hr>

<% @comments.each do |comment| %>
  <p><%= comment['name'] %></p>
  <hr>
<% end %>